<% if @friends.size > 0 %>
  <ul>
    <% @friends.each do |friend| %>
      <li>
      <%= "#{friend['firstName']} #{friend['lastName']}" %><br>
      <%= "Home: #{friend['homeCity']}" %><br>
      <%= "Email: #{friend['contact']['email']}" %><br>
      <%= "Twitter: #{friend['contact']['twitter']}" %>
      </li><br>
      
    <% end %>
  </ul>
<% else %>
  <p>Looks like you don't have any foursquare friends yet.</p>
<% end %>
